Package: coreutils-sleep
Version: 9.3-1
Depends: libc, coreutils
Alternatives: 300:/bin/sleep:/usr/libexec/sleep-coreutils
Source: feeds/packages/utils/coreutils
SourceName: coreutils-sleep
License: GPL-3.0-or-later
LicenseFiles: COPYING
Section: utils
SourceDateEpoch: 1683625271
CPE-ID: cpe:/a:gnu:coreutils
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: mipsel_24kc
Installed-Size: 19331
Description:  Full version of standard GNU sleep utility.
