Package: iptables-mod-nfqueue
Version: 1.8.8-2
Depends: libc, libxtables12, kmod-nfnetlink-queue, kmod-ipt-nfqueue
Source: package/network/utils/iptables
SourceName: iptables-mod-nfqueue
License: GPL-2.0
Section: net
SourceDateEpoch: 1699794865
CPE-ID: cpe:/a:netfilter_core_team:iptables
Architecture: mipsel_24kc
Installed-Size: 2493
Description:  iptables extension for user-space queuing via NFNETLINK.
 
 Includes:
 - libxt_NFQUEUE
 
